body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    font-size: 16px;
}

h1 {
    text-align: center;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
    max-width: 1200px;
    margin: auto;
}

li {
    background-color: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

img,
video,
audio {
    display: block;
    max-width: 100%;
    max-height: 150px;
    /* 设置最大高度 */
    object-fit: contain;
    /* 保持比例缩放 */
    border-radius: 5px;
}

.media-preview {
    flex-shrink: 0;
    /* 防止媒体框缩小 */
    max-width: 500px;
    min-width: 300px;
    /* 限制盒子宽度 */
    height: 150px;
    /* 统一高度 */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9ecef;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 20px;
    padding: 10px;
}
.cont {
    flex: 1;
    height: 150px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.cont .introduce {
    flex: 1;
    overflow: hidden;
}
.cont .Date {
    position: relative;
    bottom: 0;
}
button {
    padding: 8px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: auto;
    font-size: 16px;
    /* 自动对齐到右边 */
}

button:hover {
    background-color: #0056b3;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a {
    padding: 8px 16px;
    margin: 0 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #0056b3;
}

.return-home {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.return-home a {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.return-home a:hover {
    background-color: #218838;
}

li p {
    margin: 0;
}
.btn {
    display: flex;
    flex-direction: column;
}