body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 2vw;
    font-size: 1.6vw;
}

h1 {
    text-align: center;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 1vw 0;
    padding: 1.5vw;
    border-radius: 0.8vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

img,
video,
audio {
    display: block;
    max-width: 100%;
    max-height: 15vw;
    /* 设置最大高度 */
    object-fit: contain;
    /* 保持比例缩放 */
    border-radius: 0.5vw;
}

.media-preview {
    flex-shrink: 0;
    /* 防止媒体框缩小 */
    max-width: 50vw;
    min-width: 27vw;
    /* 限制盒子宽度 */
    height: 15vw;
    /* 统一高度 */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9ecef;
    border-radius: 0.5vw;
    overflow: hidden;
    margin-right: 2vw;
    padding: 1vw;
}
.cont {
    flex: 1;
    height: 15vw;
    position: relative;
    display: flex;
    flex-direction: column;
}
.cont .introduce {
    flex: 1;
    overflow: hidden;
}
.cont .Date {
    position: relative;
    bottom: 0;
}
button {
    padding: 0.8vw 1.2vw;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    margin-left: auto;
    margin-top: 1vw;
    font-size: 1.6vw;
    /* 自动对齐到右边 */
}

button:hover {
    background-color: #0056b3;
}

.pagination {
    text-align: center;
    margin-top: 2vw;
}

.pagination a {
    padding: 0.8vw 1.6vw;
    margin: 0 0.5vw;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 0.5vw;
}

.pagination a:hover {
    background-color: #0056b3;
}

.return-home {
    display: block;
    text-align: center;
    margin-top: 2vw;
}

.return-home a {
    padding: 1vw 2vw;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 0.5vw;
    font-size: 1.6vw;
}

.return-home a:hover {
    background-color: #218838;
}

li p {
    margin: 0;
}
.btn {
    display: flex;
    flex-direction: column;
}